.header{
  font-size: larger;
  text-align: center;
  padding: 70px;
}
.wrapper,
  .task-list{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.wrapper {
  width: 70%;
  margin-top: 5%;
  background-color: white; 
  border-radius: 10px;
}
/* Add task section start  */
.task-name-input:focus {
  outline: none;
}
.task-name{
  font-size: larger;
}
.task-name-input{
  width: 80%;
  height: 50px;
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: white;
  border:none;
  text-align: center;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn{
  cursor: pointer;
  background-color: #000000;
  color: white;
  border:none;
  margin: 0 10px;
  width: 100px;
  height: 50px;
  border-radius: 5px;
  font-weight: bold;
  position: relative;
  left: -40px;
}
.action-btn{
  border: none;
  background-color: white;
}
@media only screen and (max-width: 1204px) {
  .btn{
    width: 50px;
    font-size: 9px;
  }

}
hr{
  margin:  30px 0px;
  width: 95%;
  margin-left: 2.5%;
}
.date-picker{
  position: relative;
  top: 5px;
  border: none;
}
.date-tooltip{
  left: -50px;
  background-color: white;

}
.due-date{
  display: none;

}
/* Add task section end  */

/* Filter section start */
.filter{
  font-size: 30px;
  font-weight: bolder;
}
