.header{
  font-size: larger;
  text-align: center;
  padding: 70px;
}
.wrapper,
  .task-list{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.wrapper{
  width: 70%;
}
/* Add task section start  */
.task-name-input:focus {
  outline: none;
}
.task-name{
  font-size: larger;
}
.task-name-input{
  width: 80%;
  height: 50px;
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: white;
  border:none;
  text-align: center;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.add-task-btn{
  background-color: #000000;
  color: white;
  border:none;
  width: 15%;
  height: 50px;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  font-weight: bold;

}
.action-btn{
  border: none;
}
hr{
  margin:  30px 0px;
}
/* Add task section end  */


.col-control{
  width: 200px;
}