.tasks {
    border-collapse: collapse;
    margin: 50px;
    border-radius: 10px;
  }
.tasks i{
  margin: 10px;
}
.tasks td, .tasks th {
  border: 1px solid #ddd;
  padding: 8px;
}

.action-btns i {
  cursor: pointer;
}

.tasks th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #000000;
  color: white;
}
.col-control{
  width: 200px;
}